rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /videos/{id} {
      allow read: if resource.data.active == true;
      allow write: if false;
    }
    match /blogPosts/{id} {
      allow read: if resource.data.active == true && resource.data.sourceRemoved == false;
      allow write: if false;
    }
    match /siteSettings/general {
      allow get: if true;
      allow list, write: if false;
    }
    match /{document=**} { allow read, write: if false; }
  }
}
